# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


pk_test_51HzgknDGOy5si9f7qvcWpHNgXGQmscbyNJp6Ha7utFLmSubyE1A8J3V2gTlQAp6jNDUxkDr948oTX7sm74kAMFNL00JWOFySvR

sk_test_51HzgknDGOy5si9f7wn1g4HWEH1CWE7EPws0ePFe95DeCqUmIRj4tN3BJrU7dtTTFMVYJsOQsJRcDGiRwUbhfoOIC00rmGK48FE