.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    
}
.header__wrapper{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
width: 100%;
position: relative;
}
.header__logo{
    width: 200px;
    height: 60px;
    /* margin: 0 20px; */
    object-fit: contain;
}
.header__link{
    text-decoration: none;
    color: #4d4d4f;
    font-size: 14px;
    text-decoration: none;
}
.header__cartLink{
    text-decoration: none;
    color: black;
}
.header__link:hover{
    text-decoration: underline;
    color: #0b79bf;
}

.header__cart{
    display: flex;
    border-radius: 25%;
    display: flex;
    align-items: center;
}
.header__cartIcon{
    padding: 5px 0 5px 5px;
    font-size: 30px !important;
}
.header__cartAmount{
    padding: 5px;
    text-decoration: none;
}
.header__cart-username{
    margin-right: 30px;
}
Link {
    text-decoration: none;
}